div {
    width: 450px;
    padding: 25px;
    border: 10px #BAA898 dotted;
    border-radius: 50px 50px 50px 50px;
    background-color: #598392;
    margin: auto;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 50%;
    background-color: #C0BCB5;
}

section{
    text-align: right;
}

body{
    background-color: #C0BCB5;
}
